body {
    font-family: Helvetica, sans-serif;
}

#wrapper {
	width:40%;
	margin:0 auto;
}

a:link.nav-item, a:visited.nav-item  {
    color: #0274e3;;
    font-weight: bold;
    text-decoration: none;
}
a:hover.nav-item, a:active.nav-item, a:focus.nav-item {
    color: #014B94;
    text-decoration: none;
}

.smallText {
	position:relative;
	top:15px;
}

@media screen and (max-width: 600px) {
  #wrapper {
	width:100%;
  }
}
@media screen and (max-width: 900px) {
  #wrapper {
	width:70%;
	
  }
  body {
  	margin:0;
  	padding:0;
  }
}
.btn {
    -moz-box-shadow: 0px 1px 10px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 10px 0px #ffffff;
	box-shadow: 0px 1px 10px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	color:#555;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:6px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}.btn:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	position:relative;
}

.github-icon {
	heigth:24px;
	width:24px;
	margin-right:5px;
	padding:0;
	position:relative;
	top:6px;
	}